body {
  max-width: 960px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;
  grid-template-areas:
    "masthead masthead masthead"
    "navigation intro intro"
    "pic pic geography"
    "government government election"
    "footer footer footer";
}

header {
  grid-area: masthead;
}

nav {
  grid-area: navigation;
}

h2 {
  grid-area: intro;
}

#pic {
  grid-area: pic;
}
#geography {
  grid-area: geography;
}

#government {
  grid-area: government;
}

#election {
  grid-area: election;
}

#introtag {
  text-align: center;
}
