body {
  max-width: 960px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
  grid-template-areas:
    "masthead masthead"
    "intro pic"
    "flag geography"
    "government election"
    "footer footer";
  font-family: "Slabo 27px", serif;
  line-height: 1;
}

header {
  grid-area: masthead;
  background-color: rgb(211, 73, 78);
  color: #ffffff;
  font-size: 25px;
  padding: 20px;
  font-family: "Bebas Neue", cursive;
}

h2 {
  text-decoration: underline 3px rgb(211, 73, 78);
  margin-top: 0;
}

#intro {
  grid-area: intro;
  background-color: #eee;
  padding: 10px;
  border-style: solid;
  border-color: rgb(123, 178, 116);
  border-width: 5px;
}

#pic {
  grid-area: pic;
}

#flag {
  grid-area: flag;
}
#geo {
  grid-area: geography;
  background-color: #eee;
  padding: 10px;
}

#gov {
  grid-area: government;
  background-color: #eee;
  padding: 10px;
}

#election {
  grid-area: election;
  background-color: #eee;
  padding: 10px;
}

footer {
  grid-area: footer;
  text-align: center;
  background-color: rgb(211, 73, 78);
  color: #ffffff;
}

#introtag {
  text-align: center;
}

img {
  width: 100%;
}

figcaption {
  text-align: center;
  color: rgb(74, 162, 91);
}

a:default,
a:visited {
  text-decoration: none;
  color: rgb(139, 0, 0);
  padding: 10px;
  display: inline-block;
}

a:hover,
a:active {
  text-decoration: double underline;
  color: rgb(123, 178, 116);
}
